@model CargaAcademica.BL.Alumno

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>Realmente quiere eliminar este alumno?</h3>
<div>
    <h4>Alumno</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreAlumno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreAlumno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrlImagen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrlImagen)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a la lista", "Index")
        </div>
    }
</div>
